[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy="*"
psycopg2-binary = "*"
pytest = "*"
mock = "*"
pytest-testdox = "*"
pytest-ordering = "*"
mock-alchemy = "*"

[requires]
python_version = "3.10"

[scripts]
start="python src/app.py"
test="pytest --testdox --color=yes"
init_migrations="alembic init ."
db_test="alembic current"
migrate="alembic revision --autogenerate -m \"Migration\""
upgrade="alembic upgrade head"
